<div>
    <h2>Messages</h2>
    <ul>
      <li *ngFor="let message of messages">
        {{ message.text }} - {{ formatTimestamp(message.timestamp) }}
      </li>
    </ul>
</div>


<!-- <h1>{{wish | test }}</h1> -->

<h1>{{newConcept | test }}</h1>


<input type="text" placeholder="Enter Your Email" #e  value="xyz@gmail.com"/>

<button (click)="updateEmail(e)">Update</button>

<h1>{{e.value}}</h1>

<h2>child component</h2>
<p>Data from parent:{{childtitle}}</p>




<div>
  <input type="text" [(ngModel)]="names">
  <p>Hello, {{ names }}!</p>
</div>